

One hot encoding with sklearn
Code below for test, similarly replacing file names for train, train files are one-hot-encoded

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Load the dataset
data = pd.read_csv('emnist-letters-train.csv', header=None)  

# Extract labels from the first column
y = data.iloc[:, 0]  # the labels are in the first column

# Extract features from the remaining columns
X = data.iloc[:, 1:]  #  features are in the remaining columns

#  Labels to Numeric Format
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# One-Hot Encoding
one_hot_encoder = OneHotEncoder()
y_one_hot = one_hot_encoder.fit_transform(y_encoded.reshape(-1, 1)).toarray()

# Concatenating one-hot encoded labels with features
#data_encoded = pd.concat([pd.DataFrame(y_one_hot), X], axis=1)
#data_encoded.to_csv('emnist_encoded_test.csv', index=False, header=False)

In [4]:
# Load the dataset
data_t = pd.read_csv('emnist-letters-test.csv', header=None)  

# Extract labels from the first column
#y = data_t.iloc[:, 0]  # the labels are in the first column

# Extract features from the remaining columns
X_t = data_t.iloc[:, 1:]  #  features are in the remaining columns

#  Labels to Numeric Format

In [5]:
## 
# Concatenating one-hot encoded labels with features
data_encoded = pd.concat([pd.DataFrame(y_one_hot), X_t], axis=1)
data_encoded.to_csv('emnist_encoded_test2.csv', index=False, header=False)

In [8]:
data_encoded.shape

(88800, 810)

In [5]:
data.shape

(88800, 785)

In [6]:
# Find unique values and their counts
unique_values = y.unique()
num_unique_values = len(unique_values)

print("Number of unique values in original labels:", num_unique_values)
print("Unique values in original labels:", unique_values)

Number of unique values in original labels: 26
Unique values in original labels: [23  7 16 15 17 13 11 22 24 10 14 18 21 26 19  5  2 25  9 12  1  8  4  3
 20  6]

In [10]:
data_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0