In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

# Read the CSV file
emnist_data = pd.read_csv('emnist-letters-train.csv')

# Splitting the dataset into features (pixels) and labels
X = emnist_data.iloc[:, 1:]  # Features (pixels)
y = emnist_data.iloc[:, 0]   # Labels

# One-hot encode the labels
encoder = OneHotEncoder()
y_one_hot = encoder.fit_transform(y.values.reshape(-1, 1)).to_array()

print(y_one_hot.shape)

# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_one_hot, test_size=0.2, random_state=42)

# Saving the train and test datasets separately
X_train.to_csv('dataset/X_train.csv', index=False)
X_test.to_csv('dataset/X_test.csv', index=False)
y_train.to_csv('dataset/y_train.csv', index=False, header=False)
y_test.to_csv('dataset/y_test.csv', index=False, header=False)

AttributeError: 'csr_matrix' object has no attribute 'to_array'

In [16]:
print(y_train.shape)
print(X_train.shape)

(71039, 26)
(71039, 784)

In [22]:
xy = pd.DataFrame(y_train)
xy

                    0
0        (0, 22)\t1.0
1        (0, 23)\t1.0
2         (0, 0)\t1.0
3         (0, 1)\t1.0
4         (0, 7)\t1.0
...               ...
71034    (0, 15)\t1.0
71035    (0, 16)\t1.0
71036     (0, 6)\t1.0
71037     (0, 3)\t1.0
71038    (0, 12)\t1.0

[71039 rows x 1 columns]

In [10]:
y_test.shape

(17760, 26)

In [6]:
X_train.shape

(71039, 784)

In [21]:
y_train.shape

(71039, 26)