In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [20]:

# Read the CSV file
emnist_data = pd.read_csv('emnist-letters-train.csv')

# Splitting the dataset into features (pixels) and labels
X = emnist_data.iloc[:, 1:]  # Features (pixels)
y = emnist_data.iloc[:, 0]   # Labels

# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Saving the train and test datasets separately
X_train.to_csv('dataset/X_train.csv', index=False)
X_test.to_csv('dataset/X_test.csv', index=False)
y_train.to_csv('dataset/y_train.csv', index=False, header=True)
y_test.to_csv('dataset/y_test.csv', index=False, header=True)

In [13]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(71039, 784) (71039,)
(17760, 784) (17760,)

In [16]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
y_train_encoded = encoder.fit_transform(y_train.values.reshape(-1, 1)).toarray()
y_test_encoded = encoder.transform(y_test.values.reshape(-1, 1)).toarray()

y_train_encoded.shape
y_test_encoded.shape

(17760, 26)

In [17]:
pd.DataFrame(y_train_encoded, columns=encoder.categories_[0]).to_csv('dataset/y_train_encoded.csv', index=False)
pd.DataFrame(y_test_encoded, columns=encoder.categories_[0]).to_csv('dataset/y_test_encoded.csv', index=False)

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the CSV file
emnist_data = pd.read_csv('emnist-letters-train.csv')

# Check for missing values in the original dataset
print("Missing values in original dataset:", emnist_data.isnull().sum().sum())

# Splitting the dataset into features (pixels) and labels
X = emnist_data.iloc[:, 1:]  # Features (pixels)
y = emnist_data.iloc[:, 0]   # Labels

# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check for missing values in the train and test datasets
print("Missing values in training set:", X_train.isnull().sum().sum(), y_train.isnull().sum().sum())
print("Missing values in test set:", X_test.isnull().sum().sum(), y_test.isnull().sum().sum())

# Saving the train and test datasets separately
X_train.to_csv('dataset/X_train.csv', index=False)
X_test.to_csv('dataset/X_test.csv', index=False)
y_train.to_csv('dataset/y_train.csv', index=False, header=True)
y_test.to_csv('dataset/y_test.csv', index=False, header=True)

Missing values in original dataset: 0
Missing values in training set: 0 0
Missing values in test set: 0 0

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
y_train_encoded = encoder.fit_transform(y_train.values.reshape(-1, 1)).toarray()
y_test_encoded = encoder.transform(y_test.values.reshape(-1, 1)).toarray()

# Saving the one-hot encoded train and test labels
pd.DataFrame(y_train_encoded, columns=encoder.categories_[0]).to_csv('dataset/y_train_encoded.csv', index=False)
pd.DataFrame(y_test_encoded, columns=encoder.categories_[0]).to_csv('dataset/y_test_encoded.csv', index=False)

In [16]:
#  Labels to Numeric Format
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y_train)

# One-Hot Encoding
one_hot_encoder = OneHotEncoder()
y_one_hot = one_hot_encoder.fit_transform(y_encoded.reshape(-1, 1)).toarray()

## 
print(y_one_hot.shape)
print(X_train.shape)

(71039, 26)
(71039, 784)

c:\Users\Artur\anaconda3\envs\ds\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
y_encoded_train = pd.DataFrame(y_one_hot)
print(y_encoded_train.shape)
y_encoded_train.to_csv("dataset/y_encoded_train.csv", index=False, header=False)

(71039, 26)

In [20]:
#  Labels to Numeric Format
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y_test)

# One-Hot Encoding
one_hot_encoder = OneHotEncoder()
y_one_hot = one_hot_encoder.fit_transform(y_encoded.reshape(-1, 1)).toarray()

## 
print(y_one_hot.shape)

y_encoded_test = pd.DataFrame(y_one_hot)
print(y_encoded_test.shape)
print(X_test.shape)
y_encoded_test.to_csv("dataset/y_encoded_test.csv", index=False, header=False)

(17760, 26)
(17760, 26)
(17760, 784)

c:\Users\Artur\anaconda3\envs\ds\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
a = pd.read_csv("dataset/X_train.csv")
a_y = pd.read_csv("dataset/y_train_encoded.csv")
b = pd.read_csv("dataset/X_test.csv")
b_y = pd.read_csv("dataset/y_test_encoded.csv")

In [19]:
print(a.shape)
print(b.shape)

print(a_y.shape)
print(b_y.shape)

(71039, 784)
(17760, 784)
(71039, 26)
(17760, 26)

(71039, 784)
(17760, 784)

In [6]:
a.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
a_y.head()

,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,0.0.16,0.0.17,0.0.18,0.0.19,0.0.20,0.0.21,1.0,0.0.22,0.0.23,0.0.24
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0